:root {
  --ff-rubik: "Rubik", sans-serif;
  --ff-oswald: "Oswald", sans-serif;

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 24%);
  --plutinum: hsl(0, 0%, 91%);
  --onyx: hsl(0, 0%, 24%);

  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;

  --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0px 40px 60px hsla(202, 75%, 47%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);

  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--onyx);
  font-size: 1.6rem;
  line-height: 1.7;
}

.h1 {
  font-size: var(--fs-3);
  text-transform: uppercase;
}

.header-contact {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;
  transition: var(--transition);
}

.header.active {
  background-color: var(--green-blue-crayola);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  font-family: var(--ff-oswald);
  /* color: var(--white); */
  font-size: 3rem;
}

.nav-open-btn {
  color: var(--white);
  font-size: 35px;
}

.nav-open-btn {
  color: var(--white);
  font-size: 35px;
}

.nav-open-btn ion-icon {
  --ionicon-stroke-width: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transform: translateX(300px);
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--plutinum);
  padding: 30px 20px;
}

.navbar-top .logo {
  color: var(--onyx);
  font-size: 3rem;
}

.nav-close-btn {
  font-size: 25px;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 40px;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--plutinum);
}

.navbar-link {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: var(--transition);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_60);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}
